.Flex4>.p-Home:not(.Flex5):hover, .Div71 > .p-Home:hover{
color:#666
}

.Image3, .Button2, .Image6, .Button6, .Image21, .Flex43 > div > :last-child > [class*="Image"]{
transition: transform .3s ease-in-out;
}

.Flex5:hover >  .Image3, .Flex10:hover > .Image6{
transform:translate3d(10px,0,0);
}

.Div14{
letter-spacing: -2px
}
.TextBox8, .Button4, .TextBox14, .TextBox32, .Button5, .TextBox119{
background-image: linear-gradient(108deg, #b16cea 8%, #ff5e69 40%, #ff8a56 77%, #ffa84b 91%);
}

.Div18:hover > .Button2, .Div52:hover > .Button6{
transform:translate3d(7px,7px,0);
}

.TextBox14, .TextBox32{
letter-spacing: 4px;
text-transform: uppercase;
width: fit-content;
}

.Div71 > div > div > [class*="TextBox"]:first-child, .TextBox71, .TextBox115, .TextBox116{
letter-spacing: 4px;
text-transform: uppercase;
background-image: linear-gradient(108deg, #b16cea 8%, #ff5e69 40%, #ff8a56 77%, #ffa84b 91%);
width: fit-content;
}

.Div71{
white-space: nowrap;
transition: left 0.5s ease 0s
}

.Div71 > .p-Home:hover [class*="Flex"] [class*="Image"]{
filter: contrast(33%);
}

.Div71 > .p-Home > div > [class*="Image"]{
transition: transform .4s ease-in-out;
transform: scale3d(1,1,1);
}
.Div71 > .p-Home:hover > div > [class*="Image"]{
transform: scale3d(1.2,1.2,1);
}

.Div71 > div > div:not(:first-child){
background-color:white;
}
.p-Home.Div72{
transform: translateX(0);
}

body{
font-family: IBM Plex Sans;
}

.Flex43 > div > :first-child{
color: hsla(0, 0%, 100%, 0.7);
font-weight: 300;
font-size:17px;
align-items: center;
}

.Flex43 > div > :first-child > [class*="Div"]{
width: 3px;
height: 3px;
margin-top: 5px;
margin-left: 8px;
margin-right: 1px;
border-radius: 50%;
background-color: #fff;
}

.Flex43 > div > [class*="TextBox"]{
padding-top:23px;
padding-bottom:42px;
font-size: 29px;
line-height: 36px;
font-weight: 700;
width: 90%;
}

.Flex43 > div > :last-child{
align-items:center;
gap:19px;
}

.Flex43 > div > :last-child> :first-child{
font-size:19px;
weight: 400;
}

.Flex43 > div{
border-bottom: 1px solid hsla(0, 0%, 100%, 0.3);
padding-bottom:30px;
margin-bottom: 65px;
cursor:  pointer;
}

.Flex43 > div:hover> :last-child > [class*="Image"]{
transform: translateX(10px)
}

.Flex59{
justify-content:center;
}
.p-Home.Div59{
width:85%;
}
.Flex60{
width: 100%;
justify-content: space-between;
padding-top: 80px;
padding-bottom: 80px;
}

.p-Home.Div112{
width:52%;
}

.p-Home.Div113{
width:55%;
}

.p-Home.TextBox74{
margin-bottom:15px;
letter-spacing: 4px;
text-transform: uppercase;
background-image: linear-gradient(108deg, #b16cea 8%, #ff5e69 40%, #ff8a56 77%, #ffa84b 91%);
width: fit-content;
background-clip:text;
color: transparent;
font-size: 23px;
font-weight: 700;
}

.p-Home.TextBox75{
font-size: 55px;
line-height: 110%;
font-weight: 700;
}

.p-Home.TextBox76{
line-height: 40px;
font-weight: 400;
font-size: 22px;
color: #666;
}

.p-Home.Div114{
display:grid;
align-items: stretch;
grid-column-gap: 16px;
grid-row-gap: 16px;
grid-template-columns: 1fr 1.5fr 1fr;
width:100%;
margin-right: auto;
margin-left: auto;
padding-top: 80px;
padding-bottom: 80px;
-webkit-box-pack: justify;
justify-content: space-between;
max-height: 606.7px;
}

.p-Home.Div114 [class*="Image"]{
    object-fit: cover;
}

.p-Home.Div115{
grid-column-start:1;
grid-column-end:2;
grid-row-start:1;
grid-row-end:3;
}
.p-Home.Div116{
grid-column-start:2;
grid-column-end:3;
grid-row-start:1;
grid-row-end:3;
}
.p-Home.Div117{
grid-column-start:3;
grid-column-end:4;
grid-row-start:1;
grid-row-end:2;
}

.p-Home.Div118{
grid-column-start:3;
grid-column-end:4;
grid-row-start:2;
grid-row-end:3;
}




.p-Home.Flex63{
padding-top: 80px;
padding-bottom: 80px;
justify-content: space-between;
}

.p-Home.Flex64, .p-Home.Flex73{
width:48%;
}

.p-Home.TextBox77, .p-Home.TextBox93{
font-size: 37px;
font-weight: 700;
padding-bottom:80px;
}

.p-Home.Flex66, .p-Home.Flex74{
font-weight: 500;
}

.p-Home.Flex66 > div > :first-child, .p-Home.Flex74 > div > :first-child > :last-child > :first-child{
font-size: 25px;
line-height: 110%;
padding-bottom: 14px;
align-items:flex-start;
}

.p-Home.Flex66 > div > :nth-child(2), .p-Home.Flex74 > div > :first-child > :last-child > :nth-child(2){
color: rgba(0, 0, 0, 0.6);
font-size: 17px;
line-height: 130%;
justify-content: space-between;
}

.p-Home.Flex66 > div, .p-Home.Flex74 > div{
position:relative;
padding-bottom:40px;
margin-bottom:35px;
}

.p-Home.Flex66 > div > :last-child, .p-Home.Flex74 > div > :last-child{
position: absolute;
left: 0%;
top: auto;
right: 0%;
bottom: 0%;
overflow: hidden;
height: 1px;
background-color: #e5e5e5;
}

.p-Home.Flex66 > div > :last-child > div, .p-Home.Flex74 > div > :last-child > div{
height: 1px;
background-color: #000000;
transition: transform 0.5s ease 0s;
transform: translateX(-110%);
}

.p-Home.Flex66 > div:hover > :last-child > div, .p-Home.Flex74 > div:hover > :last-child > div{
transform: translateX(0%);
}

.p-Home.Flex66 > div:hover> div [class*="Image"], .p-Home.Flex74 > div:hover> :first-child > div [class*="Image"]{
transform: translate3d(5px, -5px, 0);
}

.p-Home.Flex66 > div [class*="Image"], .p-Home.Flex74 > div > :first-child > div [class*="Image"]{
transition: transform 0.3s ease-in-out;
}

.p-Home.Image55, .p-Home.Image59{
object-fit: cover;
filter: saturate(0%);
}

.p-Home.Flex114, .p-Home.Flex116{
transition: opacity 0.5s ease-out;
}

.p-Home.Flex116{
opacity:0%;
}

.p-Home.Div183,.p-Home.Div184{
left:-50%;
transition: left 1s ease-out;
}

.accordion-section{
    padding-top: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid hsla(0, 0%, 89.8%, 0.3);
}

.accordion, .accordion:hover{
    flex-direction: row-reverse;
    justify-content: space-between;
    background-color: #000000;
    padding: 0px;
}

.accordion-icon{
    transform:rotateZ(90deg);
    transition: transform 0.3s ease;
}

.accordion.active > .accordion-icon{
    transform: rotateZ(270deg);
}
.accordion-icon path{
    fill: #fff;
}
.accordion-title{
    color: #fff;
    font-size: 23px;
    line-height: 130%;
    font-weight: 400;
    letter-spacing: 0.3px;
}

.accordion-content{
    background-color: #000000;
    margin-left: 1rem;
}

.accordion-text{
    padding: 25px 0px 0px 0px;
    font-size: 18px;
    line-height: 150%;
    color: #666;
}

.p-Home.TextBox119{
    letter-spacing: 0.5px;
    width: fit-content;
}

.p-Home.Div189{
    width: 100%;
    height: 5px;
    border-radius: 2px;
    background-image: linear-gradient(108deg, #b16cea 14%, #ff5e69 57%, #ff8a56 81%, #ffa84b);
    transform: scale3d(0,1,1);
    transform-style:preserve-3d ;
    transition: transform 0.5s ease-out;
    transform-origin: 0%;
}

.p-Home.Div188{
    width: fit-content;
}
.p-Home.Div188:hover > .Div189{
    transform: scale3d(1,1,1);
}

.p-Home.Div191{
    display: grid;
    grid-auto-columns: 1fr;
    grid-column-gap: 100px;
    grid-row-gap: 40px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
}

.p-Home.Div191 > div > :last-child{
    margin-bottom: -10px;
    height: 1px;
    background-color: #fff;
    transform: scale3d(0,1,1);
    transform-style:preserve-3d ;
    transition: transform 0.3s ease-out;
    transform-origin: 0%;
}

.p-Home.Div191 > div:hover > :last-child{
    transform: scale3d(1,1,1);
}

.p-Home.Div191 > div{
    width: fit-content;
}

.p-Home.Flex128 > [class*="TextBox"]{
    transition: color 0.2s ease;
}

.p-Home.Flex128 > [class*="TextBox"]:hover{
    color:#fff;
}
